accelerate==0.23.0
annotated-types==0.7.0
bigdl-core-cpp==2.6.0b20250223
bigdl-core-xe-21==2.6.0b20250223
bigdl-core-xe-addons-21==2.6.0b20250223
bigdl-core-xe-batch-21==2.6.0b20250223
certifi==2025.1.31
charset-normalizer==3.4.1
filelock==3.17.0
fsspec==2025.2.0
gguf==0.14.0
huggingface-hub==0.29.1
idna==3.10
intel-cmplr-lib-ur==2025.0.4
intel-extension-for-pytorch==2.1.10+xpu
intel-openmp==2025.0.4
ipex-llm==2.2.0b20250223
Jinja2==3.1.5
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.1.105
openvino-telemetry==2025.0.1
packaging==24.2
pillow==11.1.0
protobuf==4.25.6
psutil==7.0.0
py-cpuinfo==9.0.0
pydantic==2.11.0a2
pydantic_core==2.29.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.2
sentencepiece==0.1.99
sympy==1.13.3
tabulate==0.9.0
tcmlib==1.2.0
tokenizers==0.15.2
torch==2.1.0a0+cxx11.abi
torchvision==0.16.0a0+cxx11.abi
tqdm==4.67.1
transformers==4.37.0
triton==2.2.0
typing_extensions==4.12.2
umf==0.9.1
urllib3==2.3.0
